.about-content {
  width: 90vw;
  margin: 4rem auto;
  display: grid;
  /* display: grid; */
}

.about-content img {
  min-height: 6rem;
  object-fit: cover;
  width: 100%;
  border-radius: 0.25rem;
}

.about-content h2 {
  color: #102a42;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  /* max-width: 225px; */
  /* text-decoration: underline; */
  /* border-bottom: 2px solid #ab7a5f; */
  /* border-width: 6rem; */
}

.underline {
  width: 6rem;
  height: 2px;
  background-color: #ab7a5f;
  /* justify-content: left; */
}

.about-content p {
  line-height: 2;
  max-width: 45em;
  margin: 2rem auto 0px;
  color: #324d67;
}

@media (min-width: 992px) {
  .about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    /* align-items: center; */
    /* justify-content: space-between; */
  }

  .about-content h2 {
    margin-top: 0;
  }
}
