.about-content {
  width: 90vw;
  margin: 4rem auto;
  display: grid;
}

.about-content img {
  height: 450px;
  object-fit: cover;
  width: 100%;
  border-radius: 0.25rem;
}

.about-content h2 {
  color: #102a42;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

.underline {
  width: 6rem;
  height: 2px;
  background-color: #ab7a5f;
}

.about-content p {
  line-height: 2;
  max-width: 45em;
  margin: 2rem auto 0px;
  color: #324d67;
}

@media (min-width: 992px) {
  .about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .about-content h2 {
    margin-top: 0;
  }
}
