.product-wrap {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  padding: 80px 0;
}

.product-info {
  align-items: center;
  display: grid;
  gap: 2.5rem;
  margin-top: 2rem;
}

.back-to-products a {
  text-transform: uppercase;
  background: #ab7a5f;

  color: #eaded7;

  padding: 0.375rem 0.75rem;
  letter-spacing: 0.1rem;

  font-weight: 400;
  transition: all 0.3s linear;

  font-size: 0.875rem;
  cursor: pointer;
  box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
  border-radius: 0.25rem;

  border-color: transparent;
}

.back-to-products a:hover {
  color: #453227;
  background: #c5a491;
}

@media (min-width: 992px) {
  .product-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;
  }

  .product-wrap {
    width: 95vw;
  }
}
