.banner {
  display: flex;
  background-color: #eaded7;
  padding: 50px;
}

.banner h3 {
  padding: 5px;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25rem;
}

.page-one-text {
  color: #795744;
  transition: all 0.3s linear;
}

.page-one-active-text {
  color: #453227;
}

@media (min-width: 800px) {
  .banner h3 {
    font-size: 2rem;
  }
}
