.product-box {
  display: grid;
  gap: 2rem;
}

.pic {
  width: 100%;
  height: 225px;
  border-radius: 0.25rem;
  transition: all 0.3s linear;
  object-fit: cover;
}

.pic:hover {
  opacity: 0.3;
}

.grid-pic {
  width: 300px;
  height: 200px;
  border-radius: 0.25rem;
  transition: all 0.3s linear;
  object-fit: cover;
}

.grid-pic:hover {
  opacity: 0.3;
}

.hover-over-product {
  width: 100%;
  height: 225px;
  position: relative;
}

.hover-over-product-grid {
  width: 300px;
  height: 200px;
  border-radius: 0.25rem;
  transition: all 0.3s linear;
  position: relative;
}

.hover-icon {
  transition: all 0.3s linear;
  position: absolute;
  border-radius: 0.25rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #000000ac;
}

.hover-icon-grid {
  transition: all 0.3s linear;
  position: absolute;
  border-radius: 0.25rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #000000ac;
}

.hover-over-product:hover .hover-icon {
  opacity: 1;
}

.hover-over-product-grid:hover .hover-icon-grid {
  opacity: 1;
}

.product-description {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.product-text {
  color: #324d67;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 400;
  width: 25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.details {
  font-size: 0.5rem;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
  background: #ab7a5f;

  color: #eaded7;

  letter-spacing: 0.1rem;

  font-weight: 400;
  transition: all 0.3s linear;

  cursor: pointer;
  box-shadow: 0 1px 3px rgb(0 0 0 / 20%);
  border-radius: 0.25rem;

  border-color: transparent;
}

.details:hover {
  color: #453227;
  background: #c5a491;
}

.product-name {
  margin: 0;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  font-size: 1rem;
  font-weight: 400;
}

.grid-product-name {
  letter-spacing: 0.1rem;

  text-transform: capitalize;
  line-height: 1.25;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.product-price {
  margin: 0;
  color: #ab7a5f;
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-size: 0.875rem;
}

.grid-product-price {
  letter-spacing: 0.1rem;

  text-transform: capitalize;
  line-height: 1.25;
  font-size: 0.875rem;
  color: #b99179;
  margin-bottom: 0.75rem;
}

@media (min-width: 766px) {
  .product-box-grid {
    display: grid;
    row-gap: 3rem;
  }
}

@media (min-width: 992px) {
  .product-box {
    grid-template-columns: repeat(auto-fit, minmax(360px, 2fr));
  }

  .grid-container {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;
  }

  .grid-pic {
    width: 300px;
    height: 225px;
    border-radius: 0.25rem;
    transition: all 0.3s linear;
    object-fit: cover;
  }

  .hover-over-product-grid {
    width: 300px;
    height: 225px;
  }
}
